@import url('https://fonts.googleapis.com/css?family=Rokkitt:200');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: #000;
    font-family: 'Rokkitt', serif;
    color: gray;
}

.fixed-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.product{
    display: flex;
    width: 800px;
    justify-content:space-around;
    background: white;
    position: relative;
    border-radius: 10px;
    height: 100%;
 }
.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.back_arrow{
    position: absolute;
    top: 0;
    left: 0;
}
.pic{
width: 45%;
display: flex;
justify-content: space-around;

}
.pic_good{
    align-self: center;
    overflow: hidden;
   }
.descrip{
flex-direction: column;
width: 45%;

}
.descrip h1{
    font-size: 500%;
    color: rgb(183, 221, 77);
    

}
.name {
    display: flex;
    justify-content: space-between;
    font-weight:bold;
}
.stock{
    color: rgb(0, 195, 255);
    border: 2px solid rgb(0, 195, 255);
    text-decoration: none;
    padding: 3px 5px;
    border-radius: 8px;
}
.rating{
    display: flex;
    justify-content: space-between;
    font-weight:bold;
    margin-top: 10px;
}

.cost{
    font-size: 20px;
    padding: 12px 0px 0px;

}
strong{
    font-size: 40px;
    padding: 12px 0px 0px;
    color: black;

}
.star {
    font-size: x-large;
    display: inline-block;
    color: gray;
}

.star:before {
    content: '\2605';
}
.star.on {
    color: gold;
}
.star.half:after {
        content: '\2605';
        color: gold;
        margin-left: -20px;
        width: 10px;
        position: absolute;
        overflow: hidden;
}
.goods_description{
    font-weight:bold;
    margin-top: 30px;
}
.quantity{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.a{
    display: inline-block;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.466);
    color: gray;
    text-decoration: none;
    position: relative;
    line-height: 27px;
    margin-left: 10px;

}


.add_cart{
   display: flex;
   justify-content: space-between; 
   margin-top: 40px;
   font-weight: bold;
   margin-bottom: 20px;
}
.total_price{
    color: black;
    
}
.add_cart a{
    display: block;
    background: rgb(0, 195, 255);
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    width: 140px;
    border-radius: 20px;
}